/*using GAGALIN font all over website*/
@font-face {
    font-family: 'Gagalin';
    src: url('https://raw.githubusercontent.com/nemobgs/mrBurger/master/fonts/wpid-gagalin/Gagalin-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --bg-color: #000000;
    --primary-red: #f23549;
    --text-white: #fff;
    --glow-blue: #00d2ff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
    outline: none;
}

body {
    background-color: var(--bg-color);
    color: var(--text-white);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gagalin', sans-serif;
}

.ui-wrapper {
    position: relative;
    width: 100%;
    max-width: 1786px;
    aspect-ratio: 1786 / 904;
    background-image: url('newUI.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.click-zone {
    position: absolute;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 20;
}

.zone-level {
    position: absolute;

    top: 7.6%;
    left: 15%;
    width: 6%;
    height: 5.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.2vw;
    pointer-events: none;
    color: #333333d4;
}

.zone-restart {
    top: 6.6%;
    right: 4.5%;
    width: 10.6%;
    height: 5.5%;
    border-radius: 30px;
}

.zone-game {
    position: absolute;

    top: 17.1%;
    left: 5.5%;
    width: 44.5%;
    height: 79.8%;
    padding: 1.5%;

    z-index: 5;
}

/* 
.slot-btn{
    position: absolute;
    background: transparent;
    border: none;
    cursor: pointer;
    font-family: 'Gagalin', sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.1s, opacity 0.2s;
    text-shadow: 0 0 10px rgba(0,210,255,0.8);
    z-index: 10;
    font-size: 1.6vw;
}

.slot-btn:hover {
    opacity: 0.8;
    text-shadow: 0 0 20px white;
}

.slot-btn:active{
    transform: scale(0.95);
}

.slot-level{
    position: absolute;
    top: 6.6%;
    left: 4.7%;
    width: 10.6%;
    height: 5.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.6vw;
    text-shadow: 0 0 10px var(--glow-blue);
    pointer-events: none;
}

.slot-restart {
    top: 6.6%;
    right: 4.5%;
    width: 10.6%;
    height: 5.5%;
}

.slot-game{
    position: absolute;
    top: 17.7%;
    left: 4.7%;
    width: 46.5%;
    height: 79.6%;
    padding: 1.5%;
} */

.game-container {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

canvas {
    width: 100%;
    height: 100%;
    display: block;
}

.zone-inventory {
    position: absolute;
    top: 17.7%;
    left: 53.7%;
    width: 30.8%;
    height: 36.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

#console-screen {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 2vw;
    color: #333333;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.5);
    text-align: center;
    width: 80%;
    text-transform: uppercase;
    animation: pulseText 2s infinite alternate;
}

@keyframes pulseText {
    0% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

.zone-select {
    top: 57%;
    left: 53.7%;
    width: 17.9%;
    height: 6.6%;
    border-radius: 20px;
}

.zone-hint {
    top: 57%;
    left: 73.9%;
    width: 10.6%;
    height: 6.6%;
    border-radius: 20px;
}

.zone-git {
    top: 79.3%;
    right: 2.8%;
    width: 14.5%;
    height: 5.5%;
    border-radius: 20px;
}

.zone-help {
    bottom: 3.3%;
    right: 2.8%;
    width: 14.5%;
    height: 5.5%;
    border-radius: 20px;
}

/* .slot-inventory{
    position: absolute;
    top: 17.7%;
    left: 53.7%;
    width: 30.8%;
    height: 36.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    color: rgba(255,255,255,0.4);
} */
/* 
.inv-text h3 {
    font-size: 2vw;
    color: var(--glow-blue);
    margin-bottom: 5px;
}

.inv-text p {
    font-family: sans-serif;
    font-size: 0.9vw;
}

.slot-inv-label{
    position: absolute;
    top: 22%;
    left: 22%;
    font-size: 1.4vw;
    color: white;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    text-shadow: 0 0 10px var(--glow-blue);
    letter-spacing: 2px;
}

.slot-select {
    top: 62%;
    left: 53.7%;
    width: 17.9%;
    height: 6.6%;
}

.slot-hint {
    top: 62%;
    left: 73.9%;
    width: 10.6%;
    height: 6.6%;
    text-shadow: 0 0 10px #ff3333;
}

.slot-git{
    top: 86.3%;
    right: 2.8%;
    width: 14.5%;
    height: 5.5%;
    font-size: 1.3vw;
}

.slot-help{
    bottom: 3.3%;
    right: 2.8%;
    width: 14.5%;
    height: 5.5%;
    font-size: 1.3vw;
} */
.hidden {
    display: none !important;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    backdrop-filter: blur(5px);
}

.modal-content {
    width: 900px;
    height: 550px;

    background-image: url('select_level.png');
    background-size: 100% 100%;
    background-color: transparent;
    border: none;

    padding: 90px 100px 70px 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: none;
}

.modal-title {
    display: none;
}

.level-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    width: 60%;
    margin-bottom: 200px;
}

.level-btn {
    background-color: #c8c5c5;
    color: #333;
    font-family: 'Gagalin', sans-serif;
    font-size: 2.5rem;
    border: 3px solid #333;
    border-radius: 50%;
    aspect-ratio: 1;
    cursor: pointer;
    box-shadow: none;
    transition: transform 0.1s;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .level-btn:active{
    transform: translate(2px);
    box-shadow: 0 0 0 #c0392b;
} */

.level-btn:hover {
    background: rgba(0, 0, 0, 0.1);
    transform: scale(1.1);
}

.level-btn.locked {
    border-color: #888;
    box-shadow: 0 4px 0 #555;
    cursor: not-allowed;
}

.lock-icon {
    width: 24px;
    fill: #aaa;
}

.btn-close {
    position: absolute;
    bottom: 24%;
    left: 50%;
    transform: translateX(-50%);
    width: 115px;
    height: 34px;
    background-color: red;
    opacity: 0;
    border: none;
    cursor: pointer;
    z-index: 20;
    border-radius: 20px;
}

#game-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.95);
    color: var(--primary-red);
    padding: 20px 40px;
    font-size: 3rem;
    border: 4px solid var(--primary-red);
    border-radius: 15px;
    z-index: 50;
    white-space: nowrap;
}

.info-text {
    text-align: left;
    font-family: 'Gagalin', sans-serif;
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #000000;
}

@media (max-width: 1024px) {
    .ui-wrapper {
        width: 100%;
        height: auto;
        /* aspect-ratio: auto;
        min-height: 100vh;
        background-size: cover; */
    }

    /* .slot-game{
        width: 90%;
        left: 5%;
        height: 50vh;
        top: 100px;
    }
    .slot-inventory{
        display: none;
    } */
}

.modal-content.how-to-theme{
    background-image: url(howtoplay.png);
    width: 1300px;
    height: 650px;
    padding: 0;
    background-size: 100% 100%;
}

.modal-content.how-to-theme .modal-title{
    display: none;
}

.modal-content.how-to-theme #btn-close-info{
    bottom: 12.1%;
    width: 165.7px;
    height: 40px;
    left: 725px;
    opacity: 0; /*just to see and align the button correctly*/
    transform: translateX(-50%);
}

/*Intro*/
#intro-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);/*for safari*/
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 1.5%;
}

.intro-box{
    width: 1500px;
    height: 580px;
    background-image: url('intro.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    padding: 310px 350px 20px 160px;
    display: flex;
    align-items: center;
}

#intro-text{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.6rem;
    font-weight: bold;
    color: #333;
    line-height: 1;
    white-space: pre-wrap;
    text-shadow: none;
    margin-bottom: 2px;
    width: 100%;
}

#intro-text::after{
    content: '|';
    animation: blink 1s infinite;
}

@keyframes blink {
    50% { opacity: 0;}
}

.intro-controls {
    position: absolute;
    bottom: 15px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
    opacity: 1;
}

#btn-next-story{
    position: absolute;
    top: -35px;
    left: -385px;
    background: transparent;
    border: 2px solid #333;
    border-radius: 20px;
    font-family: 'Gagalin', sans-serif;
    color: #ff0202;
    font-size: 1.5rem;
    cursor: pointer;
    opacity: 0; /*not important just to align button perfectly*/
    width: 70px;
    transition: 0.2s;
    display: none;
}

#btn-skip-intro{
    position: absolute;
    bottom: -3px;
    right: 80px;
    background: #fff;
    border: 2px solid #333;
    border-radius: 20px;
    padding: 10px;
    font-family: 'Gagalin', sans-serif;
    font-size: 1.2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 100px;
    opacity: 0;
    white-space: nowrap;
}

#btn-skip-intro:active{
    transform: translate(2px, 2px);
    box-shadow: none;
}